.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 99%;
}

.h1header {
    color: white;
    margin-right: 20px;
    font-size: 25;
		width: 100vw;
		display: flex;
		justify-content: center;
}
  

@media (max-width: 1200px) {
   
}
  