.footer {
    position: absolute;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    bottom: 0;
    left: 0;
}

.by{
    display: flex;
    text-align: center;
    margin-left: 8px;
}

.footer a {
    text-decoration: none;
    color: white;
}

.getTokens {
    margin-right:  8px;
}

.Alert-badred {
    font-size: 22px;
    font-weight: 600;
    color: black;
    animation: colorLoop 5s infinite;
}

@keyframes colorLoop {
    0% {
      color: black;
    }
    50% {
      color: white;
    }
    100% {
      color: black;
    }
}